<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#fmrk">Dang ky</a>
        </div>
    </div>
    <div class="modal" id="fmrk" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>THÊM MỚI CANDIDATE</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <H2>Candidate</H2>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="name">FullName: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="mail">Email: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="mail" id="mail" class="form-control">
                                </div>
                            </div>

                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="phone">Phone: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="phone" id="phone" class="form-control">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="dob">Dob: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="date" name="dob" id="dob" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <H2>Address</H2>

                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="number">Number: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="number" id="number" class="form-control">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="street">Street: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="street" id="street" class="form-control">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="city">City: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="city" id="city" class="form-control">
                                </div>

                            </div>
                            <div class="row p-1">
                               <div class="col-3 md-3">
                                    <label for="zipcode">Zipcode: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <input type="text" name="zipcode" id="zipcode" class="form-control">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="country">Country: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <select name="country" id="country">
                                        <option value="1">VN</option>
                                        <option value="2">USA</option>
                                        <option value="3">JP</option>
                                        <option value="4">VE</option>
                                        <option value="5">CN</option>
                                        <option value="6">KR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- skill -->
                            <H2>Skill</H2>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="skillType">SkillType: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <select name="skillType" id="skillType">
                                        <option value="1">UNSPECIFIC</option>
                                        <option value="2">TECHNICAL_SKILL</option>
                                        <option value="3">SOFT_SKILL</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <label for="skillLevel">SkillLevel: </label>
                                </div>
                                <div class="col-5 md-4">
                                    <select name="skillLevel" id="skillLevel">
                                        <option value="1">MASTER</option>
                                        <option value="2">PROFESSIONAL</option>
                                        <option value="3">ADVANCED</option>
                                        <option value="4">INTERMEDIATE</option>
                                        <option value="5">BEGINNER</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row p-1">
                                <div class="col-3 md-3">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </div>
                                <div class="col-5 md-4">
                                    <input type="reset" value="Reset" class="btn btn-primary">
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- <div class="container">
            <h1 th:align="center">ADD NEW CANDIDATE</h1>
            <div class="container">
                <form th:action="@{/candidates/add}" th:object="${candidate}" method="post">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-1 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" th:field="*{fullName}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="dob" class="col-sm-1 col-form-label">DOB</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="dob" th:field="*{dob}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="phone" class="col-sm-1 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phone" th:field="*{phone}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" th:field="*{email}">
                        </div>
                    </div>

                    <div class="row g-1" aria-label="Address">
                        <label class="col-sm-1 col-form-label">Address</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" placeholder="Number" aria-label="Number"
                                th:field="${address.number}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Street" aria-label="Street"
                                th:field="${address.street}">
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" placeholder="City" aria-label="City"
                                th:field="${address.city}">
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" placeholder="Zip code" aria-label="Zipcode"
                                th:field="${address.zipcode}">
                        </div>

                        <div class="col-sm-1 text-right">
                            <label class="col-auto col-form-label">Country</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-control" th:field="${address.country}" id="address-country"
                                aria-label="country">
                                <option th:each="country: ${countries}" th:value="${country}" th:text="${country.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="row mt-4" aria-label="Skill">
                        <h3 class="col-12 mb-3">Skill</h3>
                        <div class="d-flex flex-wrap gap-3" th:each="skill, indexStat : ${skills}">
                            <div class="form-check" style="width: 25%">
                                // Đặt tên input để liên kết với candidate.candidateSkills
                                <input class="form-check-input" type="checkbox"
                                    th:field="*{candidateSkills[__${indexStat.index}__].skill}" th:value="${skill.id}">
                                <label class="form-check-label" th:for="skillId" th:text="${skill.skillName}"></label>
                            </div>
                            <div>
                                <select class="form-select"
                                    th:field="*{candidateSkills[__${indexStat.index}__].skillLevel}">
                                    <option th:each="type : ${T(vn.edu.iuh.fit.backend.enums.SkillLevel).values()}"
                                        th:value="${type}" th:text="${type}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" aria-label="Experience">
                        <h3 class="col-sm-1 mt-3">Experience</h3>
                        <div class="row mb-3">
                            <label for="company" class="col-sm-1 col-form-label">Company</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="company"
                                    th:field="${experience.companyName}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="from-date" class="col-sm-1 col-form-label">From Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="from-date"
                                    th:field="${experience.fromDate}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="to-date" class="col-sm-1 col-form-label">To Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="to-date" th:field="${experience.toDate}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="role" class="col-sm-1 col-form-label">Role</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="role" th:field="${experience.role}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="work-desc" class="col-sm-1 col-form-label">Work description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="work-desc"
                                    th:field="${experience.workDescription}">
                            </div>
                        </div>
                    </div>


                    <div class="d-flex gap-3 col-2 mx-auto">
                        <input class="btn btn-primary me-3" type="submit" value="Add Candidate">
                        <a th:href="@{/candidates/list_paging}" class="btn btn-outline-secondary"> Cancel</a>
                    </div>
                </form>
            </div> -->
</body>
</html>