    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    
    .modal {
        width: 700px;
        height: 700px;
        border: 1px solid black;
        margin: 0 auto;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    
    .contact {
        font-size: 20;
        color: black;
        text-align: center;
    }
    
    .error {
        color: red;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }