* {
    margin: 0;
    padding: 0;
}

header, main, aside, section,.content, footer,.nav-bar, h1 {
    border: 1px solid gray;
}
h1 {
    margin-bottom: 0;
}
.nav-bar {
    margin-bottom: 0;

}
.container {
    width: 960px;
    margin: auto;

}

.nav-item {
    display: inline-block;
}

table {
    width: 100%;

}

table, tr, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px 5px;
}
.modal {
    width: 900px;
    height: 650px;
    background-color: #fff;
    margin: auto;
}
.error {
    color: red;
    font-size: 12px;
}